# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

# Require tab indentation for .go files (enforced by 'gofmt')
[*.go]
indent_style=tab

# Extended line length in test files for failure messages
[*_test.go]
max_line_length = 120

# Custom tab indentation for Makefiles
[Makefile]
indent_style = tab
